<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!-- Developer 1 | Doğukan -->
	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Server=192.168.1.2;Initial Catalog=ElectronicDevManager;Integrated Security=True;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>

	<!-- Developer 2 -->
	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Server=(localdb)\MSSQLLocalDB;Database=DevDB2;Trusted_Connection=True;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>

	<!-- Developer 3 -->
	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Server=(localdb)\MSSQLLocalDB;Database=DevDB3;Trusted_Connection=True;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>

	<!-- Developer 4 -->
	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Server=(localdb)\MSSQLLocalDB;Database=DevDB4;Trusted_Connection=True;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>