<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- Developer 1 | Doğukan -->
		<add name="DefaultConnection1"
			 connectionString="Server=192.168.1.2;Initial Catalog=ElectronicDevManager;Integrated Security=True;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />

		<!-- Developer 2 -->
		<add name="DefaultConnection2"
			 connectionString="Server=(localdb)\MSSQLLocalDB;Database=DevDB2;Trusted_Connection=True;"
			 providerName="System.Data.SqlClient" />

		<!-- Developer 3 | Azad -->
		<add name="DefaultConnectionAzad"
			 connectionString="Server=(localdb)\MSSQLLocalDB;Database=DevDB3;"
			 providerName="System.Data.SqlClient" />

		<!-- Developer 4 -->
		<add name="DefaultConnection4"
			 connectionString="Server=(localdb)\MSSQLLocalDB;Database=DevDB4;Trusted_Connection=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>